* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'El Messiri', sans-serif;
    background-image: url(/Images/background.jpg);
}
header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 150px;
    align-items: center;
}
nav{
    flex: 1;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: rgb(71, 65, 65);
}

main {
    text-align: center;
}

.social {
    display: flex;
    width: 20%;
    font-size: 3rem;
    padding: 3rem;
    justify-content: space-around;
    margin: auto;
}
.submission-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
}
label {
    display: block;
}
input, textarea {
    display: block;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

